/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 30/10/2017, 3:05:48 PM
    Author     : Niels Klazenga <Niels.Klazenga@rbg.vic.gov.au>
*/

/*
 *****************************/
.navbar-default {
  background-color: transparent;
  border: 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}

.dropdown-menu > .active > a {
  background-color: transparent;
}

.dropdown-menu > .active > a:hover {
  background-color: #fff;
}

/*
****************************************************/
body {
  margin-bottom: 100px;
  @media (min-width: $screen-md-min) {
      margin-bottom: 0;
  }
}

footer.site-footer {
    background-color: #41463F;
    padding: 10px 0;
    margin-top: 30px;
}

/* Home page
****************************************************/
.page-header h1 {
    font-size: 300%;
}

.homepage-image-wrapper {
  width: 100%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
}
.homepage-image-wrapper:after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}
.homepage-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* fill parent */
  background-image: url("../assets/media/image1.png");
  background-size: cover;
}

/*
****************************************************/
#toc {
    margin-top: 15px;
    list-style-type: none;

    .affix {
      top: 20px;
    }

    .affix-bottom {
        position: absolute;
    }

    ul {
        list-style-type: none;
        padding-left: 30px;
    }

    .nav li>ul {
        display: none;
    }

    .nav li.active>ul {
        display: block;
    }

    .nav .active>a {
      font-weight: bold;
    }

    .nav > li > a {
        padding: 4px 25px;
    }

    .nav > li li>a {
        padding: 1px 25px;
    }
}


/*
 *********************************/
.page-content img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* Footer
*************************************************************/

.license {
    padding-top: 25px;

    & > a {
        display: block;
        color: #eee;
        font-size: 12px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    @media (min-width: $screen-sm-min) {
        text-align: right;
    }

    @media (min-width: $screen-md-min) {
        padding-top: 45px;
    }
}

table th, table td {
  padding: 5px 10px;
}
