<div id="banner">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 clearfix">
            <ul class="social-media">
                <li><a href="https://twitter.com/RBG_Victoria" target="_blank"><span class="icon icon-twitter-solid"></span></a></li>
                <li><a href="https://www.facebook.com/BotanicGardensVictoria" target="_blank"><span class="icon icon-facebook-solid"></span></a></li>
                <li><a href="https://instagram.com/royalbotanicgardensvic/" target="_blank"><span class="icon icon-instagram-solid"></span></a></li>
            </ul>
          </div> <!-- /.col -->

          <nav class="navbar navbar-default">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <div class="navbar-brand">
                      <a class="brand-rbg" href="http://www.rbg.vic.gov.au"><img src="https://vicflora.rbg.vic.gov.au/images/rbg-logo-with-text.png" alt=""/></a>
                      <a class="brand-vicflora" href="https://vicflora.rbg.vic.gov.au/">VicFlora</a>
                  </div>
              </div>

              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="home-link"><a href="{{ '/' | relative_url }}"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
                    <li {% if page.title == 'Specify set-up' %}class="active"{% endif %}><a href="{{ 'specify-set-up' | relative_url }}">Specify set-up</a></li>
                    <li {% if page.title == 'Using Specify' %}class="active"{% endif %}><a href="{{ 'using-specify' | relative_url }}">Using Specify</a></li>
                    <li {% if page.title == 'Data entry forms' %}class="active"{% endif %}><a href="{{ 'data-entry-forms' | relative_url }}">Data entry forms</a></li>
                    <li {% if page.title == 'Querying' %}class="active"{% endif %}><a href="{{ 'querying' | relative_url }}">Querying</a></li>
                    <li {% if page.title == 'Transactions' %}class="active"{% endif %}><a href="{{ 'transactions' | relative_url }}">Transactions</a></li>
                    <li {% if page.title == 'DNA sequences' %}class="active"{% endif %}><a href="{{ 'dna-sequences' | relative_url }}">DNA sequences</a></li>
                    <li {% if page.title == 'Curation tools' %}class="active"{% endif %}><a href="{{ 'curation-tools' | relative_url }}">Curation tools</a></li>
                    <li {% if page.title == 'Plugins' %}class="active"{% endif %}><a href="{{ 'plugins' | relative_url }}">Plugins</a></li>
                    <li {% if page.title == 'Appendix 1: Abbreviations' %}class="active"{% endif %}><a href="{{ 'appendix1' | relative_url }}">Appendix 1: Abbreviations</a></li>
                    <li {% if page.title == 'Appendix 2: Examples of determination records' %}class="active"{% endif %}><a href="{{ 'appendix2' | relative_url }}">Appendix 2: Examples of determination records</a></li>
                    <li {% if page.title == 'MELISR fields in AVH' %}class="active"{% endif %}><a href="{{ 'melisr-fields-in-avh' | relative_url }}">MELISR fields in AVH</a></li>
                </ul>
              </div><!--/.navbar-collapse -->
          </nav>

          <div class="col-lg-12">
              <!-- Place for alert -->
              <div id="header">
                  <div id="logo">
                      <a href='http://www.rbg.vic.gov.au'>
                          <img class="img-responsive" src="https://vicflora.rbg.vic.gov.au/images/rbg-logo-with-text" alt="" />
                      </a>
                  </div>
                  <div id="site-name">
                      <a href="{{ '/' | relative_url }}">MELISR Manual</a>
                  </div>
              </div>
          </div>
      </div><!--/.row -->
  </div><!--/.container -->
</div> <!-- /#banner -->
