/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/11/2016, 1:42:27 AM
    Author     : nklazenga
*/

.attribute-list {
    padding-left: 0;
    list-style-type: none;
    
    li {
        font-weight: bold;
        
        li {
            font-weight: normal;
        }
    }
}

