.headingcolour th {
    background-color: #003399;
    color: #ffffff;    
}

.headingcolour1 th {
    background-color: #3399ff;
    color: #ffffff;    
}

.headingcolour2 th {
    background-color: #ff6666;
    color:#ffffff;    
}

.headingcolour3 th {
    background-color: #009933;
    color: #ffffff;    
}

.headingcolour4 th {
    background-color: #ff9900;
    color: #ffffff;    
}

.headingcolour5 th {
    background-color: #6600cc;
    color: #ffffff;    
}

.headingcolour6 th {
    background-color: #009999;
    color: #ffffff;    
}

.headingcolour7 th {
    background-color: #EB20F3;
    color: #ffffff;    
}