---
layout: default
---

<div class="col-md-12">

    <div class="page-header">
        <h1 class="text-center">MELISR Manual</h1>
    </div>
    
    <div class="homepage-image-wrapper">
        <div class="homepage-image"></div>
    </div>
    
<ul class="nav nav-pills">
  <li role="presentation"><a href="{{ 'specify-set-up.html' | relative_url }}">Specify set-up</a></li>
  <li role="presentation"><a href="{{ 'using-specify.html' | relative_url }}">Using Specify</a></li>
  <li role="presentation"><a href="{{ 'data-entry-forms.html' | relative_url }}">Data entry forms</a></li>
  <li role="presentation"><a href="{{ 'transactions.html' | relative_url }}">Transactions</a></li>
  <li role="presentation"><a href="{{ 'dna-sequences.html' | relative_url }}">DNA sequences</a></li>
  <li role="presentation"><a href="{{ 'curation-tools.html' | relative_url }}">Curation tools</a></li>
  <li role="presentation"><a href="{{ 'plugins.html' | relative_url }}">Plugins</a></li>
  <li role="presentation"><a href="{{ 'appendix1.html' | relative_url }}">Appendix 1: Abbreviations</a></li>
  <li role="presentation"><a href="{{ 'appendix2.html' | relative_url }}">Appendix 2: Examples of determination records</a></li>
</ul>

</div>
